@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-color: #0c342c;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: #e3ef26;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.menu .active {
color: #e3ef26;
}

.menu a:hover {
    background-color: #e3ef26;
    color: #06231D;
    transition: ease-in .3s;
    
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 4rem;
    max-width: 1100px;
    margin: 0 auto;
}

.main h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 1.5rem;
}

.main span {
    color: #e3ef26;
}

.info-content {
    max-width: 500px;
}

.info-content p {
  line-height: 1.6;
}

.download-cv{
    padding: 10px 20px;
    background-color: #e3ef26;
    border: none;
    border-radius: 20px;
    color: #06231D;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 1.5rem;
}

.download-cv:hover {
    background-color: #076653;
    color: #e3ef26;
    transition: ease-in .3s;
}

.profile-img {
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #e3ef26;
}

.about {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 2rem;
    gap: 10rem;
    align-items: center;
}

.about-img {
    width: 300px;
    object-fit: cover;
    border: 5px solid #0c342c;
    max-width: 100%;
}

.about-info {
    color: #0c342c; 
    max-width: 500px;  
}

.about-info h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.about-info p {
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: left;
}