@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #0c342c;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: #e3ef26;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.menu .active {
color: #e3ef26;
}

.menu a:hover {
    background-color: #e3ef26;
    color: #06231D;
    transition: ease-in .3s;
    
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    font-size: 3em;
    text-align: center;
}

span {
    color: #e3ef26;
}

.download-cv{
    padding: 10px 20px;
    background-color: #e3ef26;
    border: none;
    border-radius: 20px;
    color: #06231D;
    margin-top: 10px;
    cursor: pointer;
}

.download-cv:hover {
    background-color: #076653;
    color: #e3ef26;
    transition: ease-in .3s;
}


.profile-img {
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}